@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --font: "Noto Sans", sans-serif;
}

.dash-body {
  background: #f9fafc;
  font-family: var(--font);
  height: max-content;
  overflow-x: hidden;
}

/* reusable style */
.card-style {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  height: 100%;
  width: 100%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

/* dashboard */
.dashboard {
  display: grid;
  grid-template-columns: minmax(63.53px, 1fr) minmax(762.35px, 12fr) minmax(
      254.117px,
      4fr
    );
  min-height: 100vh;
  height: max-content;
}

/* main */
.main {
  height: 100%;
  width: 100%;
  background-color: #f9fafc;
}

.main .grid {
  padding: 2rem;
  padding-top: 0;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.main .grid .row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}

.main .grid .row2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

/* sidebar */
.sidebar {
  z-index: 1;
  background-color: #2433ff;
  height: 100%;
  width: max-content;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sidebar svg {
  color: #e2cbda;
  font-size: 1.5rem;
}

.help svg {
  color: yellow;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.help svg:hover {
  color: #e2cbda;
  transform: scale(1.2);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  border-radius: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar li:hover {
  transform: scale(1.2);
}

.brand svg {
  font-size: 2.5rem;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style-type: none;
}

/* right-side-bar */
.right-side-bar {
  background: #f2f2fe;
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.selected {
  box-shadow: 0 0 60px 8px rgba(255, 255, 255, 0.7);
  background: rgba(255, 255, 255, 0.23);
}

/* nav bar */
.nav {
  display: flex;
  justify-content: space-between;
  color: #1c174c;
  padding: 1.5rem;
  background-color: #f9fafc;
}

.btn {
  border-width: 0;
  padding: 0 10px;
  background: #2433ff;
  color: #e2cbda;
  border-radius: 15px;
  cursor: pointer;
}

.btn:hover {
  background: #2433ffc9;
}

.nav a {
  color: #1c174c;
  text-decoration: none;
}

.nav .flex {
  gap: 1rem;
}

.timeline {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.timeline svg {
  font-size: 2rem;
  color: #1c174c;
}

/* site-visits */
.site-visits {
  color: #1c174c;
}

.title-cont {
  display: flex;
  justify-content: space-between;
}

.site-visits .title h1 {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  margin: 0;
}

h4 {
  margin: 0;
}

.slider .service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  min-width: 5rem;
}

.service img {
  height: 2rem;
}

.slider .services {
  display: flex;
  gap: 1rem;
}

h6 {
  margin: 0;
}

.chart {
  height: 10rem;
}

.chart .recharts-default-tooltip {
  border: none !important;
  border-radius: 1rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

/* studentProgress */
h1,
h5 {
  margin: 0;
}

.studentProgress {
  color: #1c174c;
  display: flex;
  flex-direction: column;
}

.studentProgress .more {
  color: #1c174c;
}

.progressed {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.progressing {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.progressing .data {
  display: flex;
  justify-content: space-between;
}

.progressing progress {
  width: 100%;
  --webkit-appearance: none;
  appearance: none;
}

.progressing progress::-webkit-progress-bar {
  border-radius: 1rem;
  height: 0.2rem;
}

.progressing progress::-webkit-progress-value {
  border-radius: 1rem;
  background: orange;
}

.progressing .cleared::-webkit-progress-value {
  border-radius: 1rem;
  background: #2bf82b;
}

/* target audience */
.enrolled-students {
  color: #1c174c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.enrolled-students .title-cont {
  margin-bottom: 1rem;
}

.enrolled-students .title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.enrolled-students .title svg {
  color: #1c174c;
  font-size: 1.3rem;
  cursor: pointer;
}

.enrolled-students .chart {
  height: 13rem;
}

.enrolled-students .chart .recharts-default-tooltip {
  border: none !important;
  border-radius: 1rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.enrolled-students .chart .recharts-wrapper {
  width: 100%;
}

/* submitted */
.submitted {
  color: #1c174c;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.project {
  border-bottom: 0.1rem solid #1c174c;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.details {
  display: flex;
}

.details .image {
  margin-right: 14px;
}

.details img {
  height: 2.5rem;
}

.submitted .info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.filters {
  display: flex;
  align-items: center;
  color: #1c174c;
}

.submitted button {
  background-color: #2433ff;
  color: #e2cbda;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.submitted button:hover {
  background: #0511b0;
}

.submitted .title-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.submitted h6 {
  font-weight: 100;
}

/* avatar */
.avatar {
  color: #2e2b46;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
  padding-bottom: 2rem;
}
.avatar img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  max-width: none;
}

.avatar .name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.avatar .name svg {
  color: #2e2b46;
  font-size: 1.3rem;
}

/* assigned-students */
.assigned-students {
  color: #2e2b46;
  padding: 0 2rem;
}

.assigned-students .active {
  max-height: 13rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding-right: 1.5rem;
  margin: 1rem 0;
}

.assigned-students .title-cont {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  padding-top: 1rem;
}

.assigned-students .title {
  width: 100%;
}

.assigned-students .title h4 {
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
  line-height: 1.6;
}

.assigned-students .title h1 {
  font-size: 1.5rem;
}

.assigned-students .chart {
  position: relative;
  height: 4rem;
  width: 100%;
}

.assigned-students .percent {
  position: absolute;
  top: 0;
  left: 0;
  color: #2e2b46;
  font-size: 0.8rem;
}

.assigned-students .active h5 {
  font-weight: 100;
  padding-left: 1rem;
}

.assigned-students .active .a-student {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 0;
}

.assigned-students .active .a-student .name {
  display: flex;
  align-items: center;
}

.assigned-students .active .a-student .name img {
  height: 2rem;
  border-radius: 50%;
}

.assigned-students .active::-webkit-scrollbar {
  width: 0.2rem;
  background-color: #1c174c;
}

.assigned-students .active::-webkit-scrollbar-thumb {
  background-color: #b8b8b8;
}

.alert {
  background: white;
  margin: 1.5rem;
  margin-top: 4rem;
  margin-bottom: 5rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

p {
  margin: 0.5rem 0;
}

.alert h5 {
  font-weight: 100;
}

.alert h1 {
  font-size: 1rem;
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
  .avatar {
    gap: 0;
  }

  .name span {
    padding-left: 14px;
  }

  .dashboard {
    grid-template-columns: 1fr;
    height: max-content;
  }

  .dash-body {
    height: max-content;
  }

  .main .grid {
    grid-template-columns: 1fr;
    padding: 1rem;
    height: max-content;
  }

  .main .grid .row,
  .main .grid .row2 {
    grid-template-columns: 1fr;
  }

  .sidebar {
    width: 100%;
    padding: 1rem;
  }

  .links {
    display: none;
  }

  .help {
    display: none;
  }

  .site-visits {
    height: 100%;
  }

  .site-visits .title-cont {
    flex-direction: column;
    gap: 0.5rem;
  }

  .site-visits .title {
    text-align: center;
  }

  .slider .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .slider .service {
    gap: 0.5rem;
    min-width: 1rem;
  }

  .studentProgress {
    height: 100%;
  }

  .studentProgress .title-cont {
    flex-direction: column;
    text-align: center;
  }

  .nav {
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    margin-bottom: 0;
    padding: 1.5rem 0;
  }

  .nav .flex {
    gap: 0;
  }

  .nav h2 {
    font-size: 1rem;
    padding: 0 7px;
  }

  .timeline {
    gap: 1rem;
  }

  .submitted .title-cont {
    flex-direction: column;
    gap: 0.5rem;
  }

  .submitted .filters {
    flex-direction: column;
    gap: 0;
    padding: 7px 0;
  }

  .submitted button {
    margin-top: 14px;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .right-side-bar {
    padding: 0 2rem;
  }

  .assigned-students {
    padding: 0 1.5rem;
  }
}

@media screen and (max-width: 45.8em) {
  .filters span {
    padding-left: 1.2rem;
  }
}
